# Project exclude paths
/.gradle/
/Game of Life/task/build/
/Game of Life/task/out/
/Game of Life/task/out/production/classes/
/Problems/Desks/out/
/Problems/Desks/out/production/classes/
/Problems/Digits from 0 to 9 in a single line/out/
/Problems/Digits from 0 to 9 in a single line/out/production/classes/
/Problems/Reversing input numbers/out/
/Problems/Reversing input numbers/out/production/classes/